GITHUB_AUTH_TOKEN=
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY=
GITHUB_APP_ORG_OWNER=
GITHUB_AUTH_CLIENT_ID=
GITHUB_AUTH_CLIENT_SECRET=
GITHUB_WEBHOOK_TOKEN=
GTM_ID=
YANDEX_VERIFICATION=
DEBUG=True
SECRET_KEY='1Bij9xtbU7PNq3NPW4Ul73EKC1lgEin8u9CKLKDI'
DB_ENGINE=SQLite
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=
SENTRY_DSN=
DJANGO_SUPERUSER_PASSWORD='admin'
CACHE_LOCATION='memcached:11211'
CACHE_USERNAME=
CACHE_PASSWORD=
BROKER_URL='amqp://guest:guest@172.17.0.1:5672//'
RESULT_BACKEND_URL='rpc://'
