apscheduler==3.9.1.post1 ; python_version >= "3.8" and python_version < "4"
asgiref==3.6.0 ; python_version >= "3.8" and python_version < "4.0"
backports-zoneinfo==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
certifi==2022.12.7 ; python_version >= "3.8" and python_version < "4"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "4.0"
charset-normalizer==3.0.1 ; python_version >= "3.8" and python_version < "4"
crispy-bootstrap5==0.6 ; python_version >= "3.8" and python_version < "4.0"
cryptography==38.0.3 ; python_version >= "3.8" and python_version < "4.0"
dj-database-url==0.5.0 ; python_version >= "3.8" and python_version < "4.0"
django-crispy-forms==1.14.0 ; python_version >= "3.8" and python_version < "4.0"
django-cte==1.2.1 ; python_version >= "3.8" and python_version < "4.0"
django-debug-toolbar==3.8.1 ; python_version >= "3.8" and python_version < "4.0"
django-extensions==3.2.1 ; python_version >= "3.8" and python_version < "4.0"
django==4.1.5 ; python_version >= "3.8" and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.8" and python_version < "4.0"
idna==3.4 ; python_version >= "3.8" and python_version < "4"
psycopg2==2.9.5 ; python_version >= "3.8" and python_version < "4.0"
pycparser==2.21 ; python_version >= "3.8" and python_version < "4.0"
pyjwt==2.6.0 ; python_version >= "3.8" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "4.0"
python-dotenv==0.20.0 ; python_version >= "3.8" and python_version < "4.0"
pytz-deprecation-shim==0.1.0.post0 ; python_version >= "3.8" and python_version < "4"
pytz==2022.7.1 ; python_version >= "3.8" and python_version < "4"
requests==2.28.2 ; python_version >= "3.8" and python_version < "4"
setuptools==66.1.0 ; python_version >= "3.8" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.8" and python_version < "4.0"
sqlparse==0.4.3 ; python_version >= "3.8" and python_version < "4.0"
tzdata==2022.7 ; python_version >= "3.8" and python_version < "4"
tzlocal==4.2 ; python_version >= "3.8" and python_version < "4"
urllib3==1.26.14 ; python_version >= "3.8" and python_version < "4"
whitenoise==6.3.0 ; python_version >= "3.8" and python_version < "4.0"
