{% load i18n static mathfilters %}
{% load i18n static contrib_extras %}

<div class="progress d-flex justify-content-between x-h">
  <div class="bg-info text-dark text-start aligns-items-center" role="progressbar" style="width: {% calc_percent_achievement contribution achievement_made_count %}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
    <dl class="p-2 fs-6 mb-0 x-vw ">
      <dt>{% trans achievement_name %}</dt>
      <dd class="mb-0">{% trans achievement_description %}</dd>
    </dl>
  </div>

  <div class="p-2 fs-6 d-flex justify-content-center align-items-center">
    {% calc_percent_achievement contribution achievement_made_count %}%
  </div>
</div>
