{% extends './list_as_table.html' %}
{% load i18n contrib_extras %}

{% block thead %}
  <tr>
    <th scope="col">#</th>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'login' %}">
      <a href="{% get_sort_query_string 'login' %}" class="stretched-link text-reset text-decoration-none">{% trans "Login" %}</a>
    </th>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'name' %}">
      <a href="{% get_sort_query_string 'name' %}" class="stretched-link text-reset text-decoration-none">{% trans "Name" %}</a>
    </th>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'commits' %}">
      <a href="{% get_sort_query_string 'commits' %}" class="stretched-link text-reset text-decoration-none">{% trans "Commits" %}</a>
    </th>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'additions' %}">
      <a href="{% get_sort_query_string 'additions' %}" class="stretched-link text-reset text-decoration-none">{% trans "Additions" %}</a>
    </th>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'deletions' %}">
      <a href="{% get_sort_query_string 'deletions' %}" class="stretched-link text-reset text-decoration-none">{% trans "Deletions" %}</a>
    </th>
    <th scope="col" class="text-nowrap sortable pe-4" data-sorting="{% get_ordering_direction 'pull_requests' %}">
      <a href="{% get_sort_query_string 'pull_requests' %}" class="stretched-link text-reset text-decoration-none">{% trans "Pull requests" %}</a>
    </th>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'issues' %}">
      <a href="{% get_sort_query_string 'issues' %}" class="stretched-link text-reset text-decoration-none">{% trans "Issues" %}</a>
    </th>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'comments' %}">
      <a href="{% get_sort_query_string 'comments' %}" class="stretched-link text-reset text-decoration-none">{% trans "Comments" %}</a>
    </th>
  </tr>
{% endblock thead %}
{% block tbody %}
  {% for contributor in page %}
    <tr>
      <th scope="row">{{ contributor.num }}</th>
      <td>
        <a href="{{ contributor.get_absolute_url }}">
          {{ contributor.login }}
        </a>
      </td>
      <td>{% firstof contributor.name "&mdash;" %}</td>
      <td>{{ contributor.commits }}</td>
      <td>{{ contributor.additions }}</td>
      <td>{{ contributor.deletions }}</td>
      <td>{{ contributor.pull_requests }}</td>
      <td>{{ contributor.issues }}</td>
      <td>{{ contributor.comments }}</td>
    </tr>
  {% empty %}
    <tr><td class="text-center" colspan="9">{% trans "Nothing found" %}</td></tr>
  {% endfor %}
{% endblock tbody %}
