{% extends './list_as_table.html' %}
{% load i18n contrib_extras %}

{% block thead %}
  <tr>
    <th scope="col">#</th>
    <th scope="col" class="sortable pe-4">
      {% trans "Login" %}
    </th>
    <th scope="col" class="sortable pe-4">
      {% trans "Name" %}
    </th>
    <th scope="col" class="sortable pe-4">
      {% trans "Issues" %}
    </th>
  </tr>
{% endblock thead %}
{% block tbody %}
  {% for contributor in page %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>
        <a href="{{ contributor.get_absolute_url }}">
          {{ contributor.login }}
        </a>
      </td>
      <td>{% firstof contributor.name "&mdash;" %}</td>
      <td>{{ contributor.issues }}</td>
    </tr>
  {% empty %}
    <tr><td class="text-center" colspan="9">{% trans "Nothing found" %}</td></tr>
  {% endfor %}
{% endblock tbody %}
