{% extends './list_as_table.html' %}
{% load i18n contrib_extras %}

{% block thead %}
  <tr>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'info__title' %}">
      <a href="{% get_sort_query_string 'info__title' %}" class="stretched-link text-reset text-decoration-none">{% trans "Title" %}</a>
    </th>
      <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'repository__full_name' %}">
        <a href="{% get_sort_query_string 'repository__full_name' %}" class="stretched-link text-reset text-decoration-none">{% trans "Repository" %}</a>
      </th>
      <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'repository__labels' %}">
        <a href="{% get_sort_query_string 'repository__labels' %}" class="stretched-link text-reset text-decoration-none">{% trans "Programming languages" %}</a>
      </th>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'contributor__login' %}">
      <a href="{% get_sort_query_string 'contributor__login' %}" class="stretched-link text-reset text-decoration-none">{% trans "Author" %}</a>
    </th>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'created_at' %}">
      <a href="{% get_sort_query_string 'created_at' %}" class="stretched-link text-reset text-decoration-none">{% trans "Creation date" %}</a>
    </th>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'labels' %}">
      <a href="{% get_sort_query_string 'labels' %}" class="stretched-link text-reset text-decoration-none">{% trans "Issue labels" %}</a>
    </th>
  </tr>
{% endblock thead %}
{% block tbody %}
  {% for issue in object_list %}
    <tr>
      <td class="text-truncate text-wrap" title="{{ issue.info.title }}">
        <a href="{{ issue.html_url }}">
          {{ issue.info.title }}
        </a>
      </td>    
      <td>
        <a href="{{ issue.repository.get_absolute_url }}">
          {{ issue.repository.full_name }}
        </a>        
      </td>
      <td>{{ issue.repository.labels.all|join:", " }}</td>
      <td>
        <a href="{% url 'contributors:contributor_details' issue.contributor.login %}"></a>
          {{ issue.contributor.login }}
        </a>        
      </td>
      <td>{{ issue.created_at|date:"d.m.Y" }}</td>
      <td>
        {% for label in issue.labels.all %}
        <a href="{% url 'contributors:open_issues' %}{% get_contribution_label_query_string label|lower %}"
        class="text-decoration-none">
					<span class="badge {% if label not in contribution_labels %}bg-success{% else %}bg-secondary{% endif %}">{{ label }}</span></a>
        {% endfor %}
      </td>
    </tr>
  {% empty %}
    <tr><td class="text-center" colspan="9">{% trans "Nothing found" %}</td></tr>
  {% endfor %}
{% endblock tbody %}
