{% extends './list_as_table.html' %}
{% load i18n contrib_extras %}

{% block thead %}
  <tr>
    <th scope="col">#</th>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'name' %}">
      <a href="{% get_sort_query_string 'name' %}" class="stretched-link text-reset text-decoration-none">{% trans "Name" %}</a>
    </th>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'repository_count' %}">
      <a href="{% get_sort_query_string 'repository_count' %}" class="stretched-link text-reset text-decoration-none">{% trans "Repositories" %}</a>
    </th>
  </tr>
{% endblock thead %}
{% block tbody %}
  {% for organization in page %}
    <tr>
      <th scope="row">{{ organization.num }}</th>
      <td>
        <a href="{{ organization.get_absolute_url }}">
          {{ organization.name }}
        </a>
      </td>
      <td>{{ organization.repository_count }}</td>
    </tr>
  {% empty %}
    <tr><td class="text-center" colspan="9">{% trans "Nothing found" %}</td></tr>
  {% endfor %}
{% endblock tbody %}
