{% extends './list_as_table.html' %}
{% load i18n contrib_extras %}

{% block thead %}
  <tr>
    <th scope="col">#</th>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'name' %}">
      <a href="{% get_sort_query_string 'name' %}" class="stretched-link text-reset text-decoration-none">{% trans "Name" %}</a>
    </th>
    {% if not organization %}
      <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'organization' %}">
        <a href="{% get_sort_query_string 'organization' %}" class="stretched-link text-reset text-decoration-none">{% trans "Organization" %}</a>
      </th>
    {% endif %}
    {% if not project %}
      <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'project' %}">
        <a href="{% get_sort_query_string 'project' %}" class="stretched-link text-reset text-decoration-none">{% trans "Project" %}</a>
      </th>
    {% endif %}
    <th scope="col" class="text-nowrap sortable pe-4" data-sorting="{% get_ordering_direction 'pull_requests' %}">
      <a href="{% get_sort_query_string 'pull_requests' %}" class="stretched-link text-reset text-decoration-none">{% trans "Pull requests" %}</a>
    </th>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'issues' %}">
      <a href="{% get_sort_query_string 'issues' %}" class="stretched-link text-reset text-decoration-none">{% trans "Issues" %}</a>
    </th>
    <th scope="col" class="sortable pe-4" data-sorting="{% get_ordering_direction 'contributors_count' %}">
      <a href="{% get_sort_query_string 'contributors_count' %}" class="stretched-link text-reset text-decoration-none">{% trans "Contributors" %}</a>
    </th>
  </tr>
{% endblock thead %}
{% block tbody %}
  {% for repository in page %}
    <tr>
      <th scope="row">{{ repository.num }}</th>
      <td class="text-truncate" title="{{ repository.name }}">
        <a href="{{ repository.get_absolute_url }}">
          {{ repository.name }}
        </a>
      </td>
      {% if not organization %}
        <td>{{ repository.organization.name }}</td>
      {% endif %}
      {% if not project %}
        <td>
          {% if repository.project %}
            <a href="{{ repository.project.get_absolute_url }}">
              {{ repository.project.name }}
            </a>
          {% else %}
            &mdash;
          {% endif %}
        </td>
      {% endif %}
      <td>{{ repository.pull_requests }}</td>
      <td>{{ repository.issues }}</td>
      <td>{{ repository.contributors_count }}</td>
    </tr>
  {% empty %}
    <tr><td class="text-center" colspan="9">{% trans "Nothing found" %}</td></tr>
  {% endfor %}
{% endblock tbody %}
