html {
  overflow-y: scroll;
}

th.repo-fullname {
  border-top: none;
}

table.dataTable, table.dataTable th, table.dataTable td {
  box-sizing: border-box;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
main {
  margin-bottom: 180px; /* Same as footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
