{% load i18n %}


<div class="mb-5 pb-4">
    <section class="container-xl">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://cdn2.hexlet.io/assets/main_landing_hero-a0ae296e0b9f2395c6c442b2104000ddc260fabd559bef2b779e5fa039619192.svg" class="d-block mx-lg-auto img-fluid" alt="theme" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{% trans "Online programming school" %}</h1>
            <p class="lead">{% trans "Many of our graduates are sought after by companies" %}</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">{% trans "Get started for free" %}</button>
            </div>
          </div>
        </div>
    </section>
</div>