{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "About project" %}{% endblock %}
{% block header %}{% trans "About project" %}{% endblock %}
{% block content %}
<p>{% trans "Welcome to the open-source project Hexlet-friends!" %}</p>
<p>{% trans "Hexlet-friends is an open-source Python project. The service keeps track of Hexlet's open-source projects. It analyzes the count of commits, pull-requests, and issues. The service automatically builds a ranking of participants with achievements." %}</p>
<div>
  <h4>{% trans "Features" %}</h4>
  <ul>
    <li>{% trans "See the rating of the most active contributors" %}</li>
    <li>{% trans "View new PR and issues" %}</li>
    <li>{% trans "Analyze the activity of an individual user for the year" %}</li>
    <li>{% trans "Go to problems on GitHub" %}</li>
  </ul>
</div>

<p>{% trans "If you want to remove a repository from our service - create an issue on GitHub using the" %} <a href="https://github.com/Hexlet/hexlet-friends/issues/new?template=hide_repo.md">{% trans "link" %}</a>{% trans "." %}</p>

<div>
  <h4>{% trans "Guidelines" %}</h4>
  <ul>
    <li><a href="https://guides.hexlet.io/ru/git-guide">{% trans "What is Git and what is it for" %}</li>
    <li><a href="https://ru.hexlet.io/blog/posts/Open-Source-github">{% trans "How to participate in open source projects on GitHub." %}</li>
  </ul>
</div>
{% endblock content %}
