{% load i18n static bootstrap4 %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% if GTM_ID %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                                                          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                                                                                                    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                                                                                                      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ GTM_ID }}');</script>
    <!-- End Google Tag Manager -->
    {% endif %}
    {% if YANDEX_VERIFICATION %}
    <meta name="yandex-verification" content="{{ YANDEX_VERIFICATION }}" />
    {% endif %}
    <title>{{ PROJECT_NAME }}</title>
  </head>
  <body>
    <header>
      {% include 'components/navbar.html' %}
    </header>
    <main class="container py-5">
      {% block content %}
      {% endblock content %}
    </main>
    <footer class="footer bg-light">
      {% include 'components/footer.html' %}
    </footer>
    {% bootstrap_javascript jquery='full' %}
    <script src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% if GTM_ID %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GTM_ID }}"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {% endif %}
  </body>
</html>
