{% load i18n static contrib_extras %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Open Graph tags -->
    <!-- Required -->
  <meta property="og:title" content="{% block og_title %}{{ PROJECT_NAME }}{% endblock og_title %}" />
  <meta property="og:type" content="{% block og_type %}website{% endblock og_type %}" />
  <meta property="og:image" content="{% block og_image %}{% static '/images/og_images/default_og_image.jpg' %}{% endblock og_image %}" />
  <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri }}{% endblock og_url %}" />
    <!-- Optional -->
  <meta property="og:description"
  content="{% block og_description %}{% trans "A service to track contributions from members of the Hexlet community to the Hexlet open-source projects on GitHub" %}{% endblock og_description %}" />
  <meta property="og:locale" content="{{ LANGUAGE_CODE }}" />
  <meta property="og:locale:alternate" content="en-gb" />
  <meta property="og:locale:alternate" content="ru-ru" />
  <!-- End Open Graph tags -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
  {% get_canonical_url as canonical_url %}
  <link rel="canonical" href="{{ canonical_url }}">
  <script src="{% url 'javascript_catalog' %}"></script>
  {% block head_scripts %}{% endblock %}
  {% if GTM_ID %}
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '{{ GTM_ID }}');
  </script>
  <!-- End Google Tag Manager -->
  {% endif %}
  {% if YANDEX_VERIFICATION %}
  <meta name="yandex-verification" content="{{ YANDEX_VERIFICATION }}" />
  {% endif %}
  <title>{% block title %}{{ PROJECT_NAME }}{% endblock %}</title>
</head>

<body class="d-flex h-100">
  {% if GTM_ID %}
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ GTM_ID }}" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {% endif %}
  <header>
    {% include 'components/navbar.html' %}
  </header>
  <main class="container my-5">
    <h1>{% block header %}{% endblock %}</h1>
    {% block additional %}{% endblock %}
    {% block content %}{% endblock %}
  </main>
  <footer class="footer bg-light">
    {% include 'components/footer.html' %}
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  <script src="{% static 'js/scripts.js' %}"></script>
  {% block body_end_scripts %}{% endblock %}
</body>

</html>
