{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="card user-card" style="width: 270px;">
      <img src="{{ contributor.avatar_url }}" class="card-img-top" alt="">
      <div class="card-body">
        {% if contributor.name %}<h1 class="h4 card-title">{{ contributor.name }}</h1>{% endif %}
        <h2 class="h5 card-subtitle font-weight-light">{{ contributor.login }}</h2>
        <a href="{{ contributor.html_url }}" class="card-link">GitHub</a>
      </div>
    </div>
  </div>
  <div class="col">
    {% for repo in repositories %}
      <table class="contrib-details table table-sm">
        <thead>
          <tr>
            <th scope="col" colspan="6" class="repo-full-name"><a href="{{ repo.get_absolute_url }}">{{ repo.full_name }}</a></th>
          </tr>
          <tr>
            <th scope="col">{% trans "Commits" %}</th>
            <th scope="col">{% trans "Additions" %}</th>
            <th scope="col">{% trans "Deletions" %}</th>
            <th scope="col" class="text-nowrap">{% trans "Pull requests" %}</th>
            <th scope="col">{% trans "Issues" %}</th>
            <th scope="col">{% trans "Comments" %}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ repo.commits }}</td>
            <td>{{ repo.additions }}</td>
            <td>{{ repo.deletions }}</td>
            <td>{{ repo.pull_requests }}</td>
            <td>{{ repo.issues }}</td>
            <td>{{ repo.comments }}</td>
          </tr>
        </tbody>
      </table>
    {% endfor %}
  </div>
</div>
{% endblock content %}
