{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Contributors for month" %}{% endblock %}
<!-- Open Graph tags -->
{% block og_title %}{% trans "Contributors for month" %}{% endblock og_title %}
<!-- End Open Graph tags -->
{% block header %}{% trans "Contributors" %}{% endblock %}
{% block additional %}
  {% include 'components/time_note.html' %}
{% endblock %}
{% block content %}
  {% include 'components/sort_and_search_form.html' %}
  {% include 'components/search_by_org.html' %}
  {% include 'components/tables/contributors_list.html' %}
  {% include 'components/pagination.html' %}
{% endblock content %}
