{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>{{ _('List of contributors') }}</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">User</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contributor in contributors_list %}
                    <tr>
                        <th scope="row">{{ contributor.id }}</th>
                        <th scope="row">
                            <a href="{{ contributor.get_absolute_url }}">
                                {{ contributor.login }} ({{ contributor.name }})
                            </a>
                        </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
