{% extends "base.html" %}
{% block content %}
<div class="container">
    <img src="{{ contributor.avatar_url }}" alt="" width="100" height="100">
    {{ contributor.login }}
    {{ contributor.name }}
    {% for org, repositories in organizations.items %}
        <p><a href="{% url 'contributors:organization_details' org.id %}">{{ org.name }}</a></p>
        {% for repo, contributions in repositories.items %}
            <p><a href="{% url 'contributors:repository_details' repo.id %}">{{ repo.name }}</a></p>
            <ul>
            {% for contribution in contributions %}
                <li>Commits: {{ contribution.commits }}</li>
                <li>Additions: {{ contribution.additions }}</li>
                <li>Deletions: {{ contribution.deletions }}</li>
                <li>Pull requests: {{ contribution.pull_requests }}</li>
                <li>Issues: {{ contribution.issues }}</li>
                <li>Comments: {{ contribution.comments }}</li>
            {% endfor %}
            </ul>
        {% endfor %}
    {% endfor %}
</div>
{% endblock content %}
