{% extends 'base.html' %}
{% load i18n %}

{% block head_scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  {{ contributions|json_script:'contributions' }}
{% endblock head_scripts %}
{% block header %}{% endblock %}
{% block content %}
  <h2>{% trans "Past year activity" %}</h2>
  {% include 'components/year_activity_chart.html' %}
  <h2>{% trans "Recently active contributors" %}</h2>
  <a id="note" href="javascript:void(0)"
      data-toggle="tooltip" data-placement="right"
      title="{% trans 'since' %} {{ since_datetime|date:'DATE_FORMAT' }}">
    {% trans "for the past month" %}
  </a>
  {% include 'components/tables/recent_contributors.html' %}
{% endblock content %}
