{% extends 'base.html' %}
{% load i18n %}

{% block header %}{% endblock %}
{% block content %}
  <h2>{% trans "Past year activity" %}</h2>
  {% include 'components/year_activity_chart.html' %}
  <h2>{% trans "Recently active contributors" %}</h2>
  <a id="note" href="javascript:void(0)"
      data-toggle="tooltip" data-placement="right"
      title="{% trans 'since' %} {{ since_datetime|date:'DATE_FORMAT' }}">
    {% trans "for the past month" %}
  </a>
  {% include 'components/tables/recent_contributors.html' %}
{% endblock content %}
