{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Open Issues" %}{% endblock %}
<!-- Open Graph tags -->
{% block og_title %}{% trans "Open Issues" %}{% endblock og_title %}
<!-- End Open Graph tags -->
{% block content %}
  <h1>{% trans "Open Issues" %}</h1>
  <div class="accordion" id="open-issues">
    {% for repo, issues in repos_with_issues.items %}
      <div class="card">
        <div class="card-header" id="{{ repo.name }}" data-bs-toggle="collapse" data-bs-target="#repo{{ repo.id }}-issues" aria-expanded="false" aria-controls="repo{{ repo.id }}-issues">
            <a href="{{ repo.get_absolute_url }}" data-bs-toggle="collapse" data-bs-target=""><b>{{ repo.full_name }}</b></a>
          {% for label in repo.labels.all %}
            <span class="text-muted">| {{ label }}</span>
          {% endfor %}
        </div>
        <div id="repo{{ repo.id }}-issues" class="collapse" aria-labelledby="{{ repo.name }}" data-parent="#open-issues">
          <div class="card-body">
            <ul class="mb-0">
            {% for issue in issues %}
              <li><a href="{{ issue.html_url }}">{{ issue.info.title }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
