{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ organization.name }}{% endblock %}
{% block header %}{{ organization.name }}{% endblock %}
{% block additional %}
  <p class="h5">
    <a href="{{ organization.html_url }}" class="badge bg-dark">GitHub</a>
  </p>
  <h2>{% trans "Repositories" %}</h2>
{% endblock additional %}
{% block content %}
  {% include 'components/sort_and_search_form.html' %}
  {% include 'components/tables/repositories_list.html' %}
  {% include 'components/pagination.html' %}
{% endblock content %}
