{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ repository.full_name }}{% endblock %}
{% block header %}{{ repository.name }}{% endblock %}
{% block additional %}
  <p class="h5">
    {% trans "Organization" %}:
    <a href="{{ repository.organization.get_absolute_url }}">{{ repository.organization }}</a>
    <br>
    <a href="{{ repository.html_url }}" class="badge badge-dark">GitHub</a>
  </p>
  <h2>{% trans "Contributors" %}</h2>
{% endblock additional %}
{% block content %}
  {% include 'components/tables/repository_details.html' %}
{% endblock content %}
