{% load i18n %}
<footer class="footer text-muted pb-5 mt-auto">
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="h4">&copy; Hexlet</div>
                <hr>
                <ul class="list-unstyled">
                    <li><a target="_blank" href="/">{% trans 'About' %}</a></li>
                    <li><a target="_blank" href="https://github.com/Hexlet/hexlet-friends">{% trans 'Source code' %}</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <div class="h5 mb-3">{% trans 'Other open source projects' %}</div>
                <ul class="list-unstyled">
                    <li><a target="_blank" href="https://github.com/Hexlet/hexlet-interview">NodeJS</a></li>
                    <li><a target="_blank" href="https://github.com/Hexlet/hexlet-cv">Ruby</a></li>
                    <li><a target="_blank" href="https://github.com/Hexlet/hexlet-correction">Java</a></li>
                    <li><a target="_blank" href="https://github.com/Hexlet/hexlet-friends">Python</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-4">
                <div class="h5 mb-3">{% trans 'Help' %}</div>
                <ul class="list-unstyled">
                    <li><a target="_blank" href="https://ru.hexlet.io/knowledge">{% trans 'Knowledge base' %}</a></li>
                    <li><a target="_blank" href="https://ru.hexlet.io/blog">{% trans 'Blog' %}</a></li>
                    <li><a target="_blank" href="https://ru.hexlet.io/pages/recommended-books">{% trans 'Recommended books' %}</a></li>
                </ul>
                <div class="h5 mb-3">{% trans 'Additionally' %}</div>
                <ul class="list-unstyled">
                    <li><a target="_blank" href="https://ru.code-basics.com/">Code Basics</a></li>
                    <li><a target="_blank" href="https://codebattle.hexlet.io/">Code Battles</a></li>
                    <li><a target="_blank" href="https://guides.hexlet.io/">Hexlet Guides</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
