{% load i18n %}
<div class="container my-5">
  <div class="row">
    <div class="col-12 col-md">
      <ul class="list-unstyled my-0">
        <li><a target="_blank" href="http://github.com/Hexlet/hexlet-friends">{% trans "Source code" %}</a></li>
      </ul>
    </div>
    <div class="col">
      <ul class="list-unstyled my-0">
        <div class="row">
          <div class="col">
            <li><p class="h6">{% trans "Other projects" %}</p></li>
          </div>
          <div class="col">
            <li></li>
          </div>
          <div class="col">
            <li><p class="h6">{% trans "Useful resources" %}</p></li>
          </div>
          <div class="col">
            <li><a target="_blank" href="{% url 'contributors:achievements' %}">{% trans "Common statistics" %}</a></li>
          </div>
        </div>
      </ul>
      <hr>
      <ul class="list-unstyled my-0">
        <div class="row">
          <div class="col">
            <li><a target="_blank" href="{% url 'contributors:about' %}">{% trans "About project" %}</a></li>
            <li><a target="_blank" href="http://ru.hexlet.io">Hexlet</a></li>
            <li><a target="_blank" href="http://cv.hexlet.io">Hexlet CV</a></li>
            <li><a target="_blank" href="http://sicp.hexlet.io">Hexlet SICP</a></li>
          </div>
          <div class="col">
            <li><a target="_blank" href="http://hexlet-correction.herokuapp.com">Hexlet Correction</a></li>
            <li><a target="_blank" href="http://codebattle.hexlet.io">Codebattle</a></li>
            <li><a target="_blank" href="http://code-basics.com">Code Basics</a></li>
          </div>
          <div class="col">
            <li><a target="_blank" href="http://guides.hexlet.io">Hexlet Guides</a></li>
            <li><a target="_blank" href="http://ru.hexlet.io/knowledge">{% trans "Knowledge base" %}</a></li>
            <li><a target="_blank" href="http://ru.hexlet.io/pages/recommended-books">{% trans "Recommended books" %}</a></li>
            <li><a target="_blank" href="http://ru.hexlet.io/blog">{% trans "Blog" %}</a></li>
          </div>
          <div class="col">
            <li></li>
          </div>
        </div>
      </ul>
      
    </div>
  </div>
</div>
