{% load i18n contrib_extras %}

<div class="my-3">
    {% for label in all_contribution_labels %}
        <a href="{% url 'contributors:open_issues' %}{% get_contribution_label_query_string label|lower %}"
           class="text-decoration-none">
						<span class="badge {% if label not in contribution_labels %}bg-success{% else %}bg-secondary{% endif %}">{{ label }}</span>
        </a>
    {% endfor %}
</div>
<div>
	<a href="{% url 'contributors:open_issues' %}">
		<span class="btn btn-outline-danger">{% trans 'Reset' %}</span>
	</a>
</div>
