{% load crispy_forms_tags %}
{% load i18n contrib_extras %}

<!-- Filters for issues -->

   <form class="row g-1" method="get">
     <div class="col">
      {{ filter.form.info_title|as_crispy_field }}
     </div>
     <div class="col">
      {{ filter.form.repository_full_name|as_crispy_field }}
     </div>
     <div class="col">
      {{ filter.form.repository_labels|as_crispy_field }}
     </div> 
     <div class="col">
      {{ filter.form.info_state|as_crispy_field }}
     </div>
     <div class="form-group">
      {{ filter.form.good_first_issue_filter|as_crispy_field }}
     </div>
    <div class="col mb-0">
      <input class="btn btn btn-outline-primary" type="submit" value="{% trans 'Search' %}">
    </div>
 </form>

