{% load i18n %}

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link time-note py-1 active" href="#"
       name="latest-for-week">
      {% trans "for the past week" %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link time-note py-1" href="#"
       name="latest-for-month">
      {% trans "for the past month" %}
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link time-note py-1" href="#"
       name="latest-in-recent-times">
       {% trans "Recent" %}
      </a>
  </li>
</ul>
