{% load i18n %}

<div class="card top-10-items top-month d-none">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link px-2 active" name="top-committers" href="#">{% trans 'by commits' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2" name="top-requesters" href="#">{% trans 'by pull requests' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2" name="top-reporters" href="#">{% trans 'by issues' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-2" name="top-commentators" href="#">{% trans 'by comments' %}</a>
        </li>
      </ul>
    </div>
    {% with top10='components/top_contributors.html' %}
      {% include top10 with contributors=top10_committers_of_month contrib_type='commits' class='top-committers'%}
      {% include top10 with contributors=top10_requesters_of_month contrib_type='pull_requests' class='top-requesters' %}
      {% include top10 with contributors=top10_reporters_of_month contrib_type='issues' class='top-reporters' %}
      {% include top10 with contributors=top10_commentators_of_month contrib_type='comments' class='top-commentators' %}
    {% endwith %}
</div>
