{% extends 'base.html' %}
{% load i18n %}

{% block title %}
    {% if is_week %}
        {% trans "Contributors for week" %}
    {% else %}
        {% trans "Contributors for month" %}
    {% endif %}
{% endblock %}

<!-- Open Graph tags -->
{% block og_title %}
    {% if is_week %}
        {% trans "Contributors for week" %}
    {% else %}
        {% trans "Contributors for month" %}
    {% endif %}
{% endblock og_title %}
<!-- End Open Graph tags -->

{% block header %}
    {% if is_week %}
        {% trans "Contributors for week" %}
    {% else %}
        {% trans "Contributors for month" %}
    {% endif %}
{% endblock %}

{% block additional %}
  {% include 'components/time_note.html' %}
{% endblock %}
{% block content %}
  {% include 'components/search_by_org_and_contributors.html' %}
  {% include 'components/tables/contributors_list.html' %}
  {% include 'components/pagination.html' %}
{% endblock content %}
